.body {
  background-image: url(./../assets/mainbg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  font-size: 15px;
  font-weight: 700;
  position: relative; /* Set relative positioning here */
}

.text {
  margin-top: 25vh;
  color: #4A4141;
  position: absolute; /* This will now position relative to .body */
  text-align: center; /* Center align text */
  font-weight: 500;
}

.text_iam {
  text-shadow: 1px 1px 2px pink;
  font-size: 8vh;
  margin-left: 30vh;
  position: absolute; /* This will now position relative to .body */
  text-wrap: nowrap;
}

.text_fe {
  text-shadow: 1px 1px 2px pink;
  font-size: 8vh;
  color: #582F77;
  margin-top: 17vh;
  margin-left: 30vh;
  position: absolute; /* This will now position relative to .body */
  text-wrap: nowrap;
}

.text_developer {
  text-shadow: 1px 1px 2px pink;
  font-size: 8vh;
  margin-top: 17vh;
  margin-left: 70vh;
  position: absolute;
  text-wrap: nowrap;
}

.text_description_one {
  font-size: 3.5vh;
  font-weight: 300;
  margin-top: 28vh;
  margin-left: 30vh;
  text-align: left;
  width: 55%;
  text-wrap: wrap;
}

.text_description_two {
  position: absolute;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 300;
  margin-top: -5%;
  margin-left: -150%;
}

.download-button {
  position: absolute; /* This will now position relative to .body */
  display: inline-block; /* Make the button inline */
  margin-top: 20px; /* Space above the button */
  margin-left: -200%;
  padding: 5px 15px; /* Button padding */
  font-size: 16px; /* Font size */
  color: #fff; /* Text color */
  background-color: #2C6FFF; /* Button background color */
  border: none; /* Remove default border */
  border-radius: 20px; /* Rounded corners */
  text-decoration: none; /* Remove underline for links */
  text-align: center; /* Center text */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition */
  position: absolute; /* Positioning button */
  white-space: nowrap; /* Prevent text wrapping */
  min-width: 120px; /* Set minimum width */
}

.download-button:hover {
  background-color: #4A4141; /* Change color on hover */
}
