.body {
  background-image: url(./../assets/mainbg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  font-size: 15px;
  font-weight: 700;
  position: relative; /* Set relative positioning here */
}

.text {
  margin-top: 25vh;
  color: #4A4141;
  position: absolute; /* This will now position relative to .body */
  text-align: center; /* Center align text */
  font-weight: 500;
}

.text_iam {
  text-shadow: 1px 1px 2px pink;
  font-size: 8vh;
  margin-left: 30vh;
  position: absolute; /* This will now position relative to .body */
  text-wrap: nowrap;
}

.text_fe {
  text-shadow: 1px 1px 2px pink;
  font-size: 8vh;
  color: #582F77;
  margin-top: 17vh;
  margin-left: 30vh;
  position: absolute; /* This will now position relative to .body */
  text-wrap: nowrap;
}

.text_developer {
  text-shadow: 1px 1px 2px pink;
  font-size: 8vh;
  margin-top: 17vh;
  margin-left: 70vh;
  position: absolute;
  text-wrap: nowrap;
}

.text_description {
  font-size: 3.5vh;
  font-weight: 300;
  margin-top: 28vh;
  margin-left: 30vh;
  text-align: left;
  width: 70%;
  text-wrap: wrap;
}
.download {
  margin-top: 0vh;
  margin-right: 10vh;
}
